<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contato</title>

        <link rel="stylesheet" href="/resources/css/registro.css" />

        <script src="resources/js/lib/jquery.js"></script>
        <script src="resources/js/registro.js"></script>
    </head>
    <body>
        <div class="form">
            <h2 class="form-title">Cadastrar Contato</h2>
            <div class="form-group">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" id="nome" name="nome" class="form-input" placeholder="Nome" required />
                <p class="form-error" data-for="nome"></p>
            </div>
            <div class="form-group">
                <label for="login" class="form-label">Login</label>
                <input type="text" id="login" name="login" class="form-input" placeholder="Login" required />
                <p class="form-error" data-for="login"></p>
            </div>
            <div class="input-row">
                <div class="form-group">
                    <label class="form-label" for="senha">Senha</label>
                    <div style="position: relative">
                        <input
                            type="password"
                            id="senha"
                            name="senha"
                            class="form-input"
                            placeholder="Senha"
                            required
                        />
                        <img
                            data-visible="false"
                            data-target="senha"
                            src="/resources/assets/icons/eye-slash-solid.svg"
                            alt="eye-solid"
                            class="show-password"
                        />
                    </div>
                    <p class="form-error" data-for="senha"></p>
                </div>
                <div class="form-group">
                    <label class="form-label" for="confirmSenha">Confirmar Senha</label>
                    <div style="position: relative">
                        <input
                            type="password"
                            id="confirmSenha"
                            class="form-input"
                            placeholder="Confirmar Senha"
                            required
                        />
                        <img
                            data-visible="false"
                            data-target="confirmSenha"
                            src="/resources/assets/icons/eye-slash-solid.svg"
                            alt="eye-solid"
                            class="show-password"
                        />
                    </div>
                    <p class="form-error" data-for="confirmSenha"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" id="email" name="email" class="form-input" placeholder="E-mail" required />
                <p class="form-error" data-for="email"></p>
            </div>
            <div class="form-group">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="text" id="telefone" name="telefone" class="form-input" placeholder="Telefone" required />
                <p class="form-error" data-for="telefone"></p>
            </div>
            <div class="form-group">
                <label class="form-label" for="user_avatar">Upload file</label>
                <input type="file" class="file-input" id="foto" name="foto" />
            </div>
            <button type="button" id="submit" class="submit-button" disabled>Enviar</button>
        </div>
    </body>
</html>
