<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contato</title>

        <link rel="stylesheet" href="/resources/css/registro.css" />

        <script src="resources/js/lib/jquery.js"></script>
        <script src="resources/js/registro.js"></script>
    </head>
    <body>
        <div class="page-container">
            <div class="form">
                <h2 class="response-title">Cadastrar Contato</h2>
                <div class="form-content">
                    <div class="form-group">
                        <label for="nome" class="field-label">Nome</label>
                        <input type="text" id="nome" name="nome" class="text-input" placeholder="Nome" required />
                        <p class="field-error" data-field="nome">Error Message!</p>
                    </div>
                    <div class="form-group">
                        <label for="login" class="field-label">Login</label>
                        <input type="text" id="login" name="login" class="text-input" placeholder="Login" required />
                        <p class="field-error" data-field="login">Error Message!</p>
                    </div>
                    <div class="flex w-full g-2">
                        <div class="flex-1 form-group">
                            <label for="senha" class="field-label">Senha</label>
                            <div style="position: relative">
                                <input
                                    type="password"
                                    id="senha"
                                    name="senha"
                                    class="text-input"
                                    placeholder="Senha"
                                    required
                                />
                                <img
                                    data-visible="false"
                                    data-target="senha"
                                    src="/resources/assets/icons/eye-slash-solid.svg"
                                    alt="eye-solid"
                                    class="show-password"
                                />
                            </div>
                            <p class="field-error" data-field="senha">Error Message!</p>
                        </div>
                        <div class="flex-1 form-group">
                            <label for="confirmSenha" class="field-label">Confirmar Senha</label>
                            <div style="position: relative">
                                <input
                                    type="password"
                                    id="confirmSenha"
                                    class="text-input"
                                    placeholder="Confirmar Senha"
                                    required
                                />
                                <img
                                    data-visible="false"
                                    data-target="confirmSenha"
                                    src="/resources/assets/icons/eye-slash-solid.svg"
                                    alt="eye-solid"
                                    class="show-password"
                                />
                            </div>
                            <p class="field-error" data-field="confirmSenha">Error Message!</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="field-label">E-mail</label>
                        <input type="email" id="email" name="email" class="text-input" placeholder="E-mail" required />
                        <p class="field-error" data-field="email">Error Message!</p>
                    </div>
                    <div class="form-group">
                        <label for="telefone" class="field-label">Telefone</label>
                        <input
                            type="text"
                            id="telefone"
                            name="telefone"
                            class="text-input"
                            placeholder="Telefone"
                            required
                        />
                        <p class="field-error" data-field="telefone">Error Message!</p>
                    </div>
                    <div class="form-group">
                        <label class="field-label" for="user_avatar">Upload file</label>
                        <input type="file" class="file-input" id="foto" name="foto" />
                    </div>
                    <button type="button" id="submit" class="submit-button" disabled>Enviar</button>
                </div>
            </div>
        </div>
    </body>
</html>
