@import url("theme.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-neutral-200);
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.5;
    height: 100vh;
}

.form {
    margin: 0 auto;
    max-width: 48rem;
    background-color: var(--color-white);
    height: 100%;
    box-shadow: var(--shadow-lg);
    padding: 1rem 2rem;
    overflow: auto;
}

.form-group {
    margin-bottom: 0.25rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-gray-900);
}

.form-input {
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-300);
    color: var(--color-gray-900);
    font-size: 0.875rem;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: 0.625rem;
}

.form-input:focus {
    outline: none;
    border-color: var(--color-blue-500);
}

.file-input {
    display: block;
    width: 100%;
    font-size: 0.875em;
    color: var(--color-gray-900);
    border: 1px solid var(--color-gray-300);
    border-radius: 0.5em;
    cursor: pointer;
    background-color: var(--color-gray-50);
}

input[type="file"]::file-selector-button {
    color: #fff;
    background: var(--color-blue-800);
    cursor: pointer;
    border: 0;
    margin-inline: -1rem 1rem;
    padding: 0.625rem 1rem 0.625rem 2rem;
    font-size: 0.875rem;
    font-weight: 500;
}

.file-input:focus {
    outline: none;
}

.form-error {
    display: none;
    margin-top: 0;
    font-size: 0.875rem;
    color: var(--color-red-600);
}

.submit-button {
    margin-top: 1.5rem;
    color: var(--color-white);
    background-color: var(--color-blue-700);
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding: 0.625rem 1.25rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--color-blue-800);
}

.submit-button:focus {
    outline: none;
}

.submit-button:disabled {
    color: var(--color-white);
    background-color: var(--color-blue-400);
    cursor: not-allowed;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding: 0.625rem 1.25rem;
    text-align: center;
}

.form-title {
    margin: 0.5rem 0;
    text-align: left;
}

.response-output {
    min-width: 100%;
    text-align: left;
    border: 1px solid var(--color-neutral-500);
    min-height: 24rem;
    width: fit-content;
    padding: 1rem;
    background-color: var(--color-gray-50);
    white-space: pre-wrap;
    font-family: monospace;
}

.show-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    cursor: pointer;
    max-width: 1.325rem;
}

.flex {
    display: flex;
}

.g-2 {
    gap: 0.5rem;
}

.flex-1 {
    flex: 1;
}

.w-full {
    width: 100%;
}

.justify-end {
    justify-content: end;
}

::-webkit-scrollbar-track {
    background-color: var(--color-neutral-100);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--color-neutral-100);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-600);
}
